.gameboard {
  height: 600px;
  width: 600px;
  table-layout: fixed;
  text-align: center;
  margin-top: 2rem;
  border-collapse: collapse;
  position: relative;
  font-size: 2rem;
}

.cell {
  border: 1px solid white;
}

.row {
  height: 12.5%;
}

.piece {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  margin: 0 auto;
}

.white{
  background-color: #f2f2f2;
}

.black{
  background-color: #3124db;
}

.possibleMove {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.lastAIMove {
  box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.3);
}