.layout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.playerRound {
  margin-top: 2em;
  text-align: center;
}

.resetButton {
  background-color: #fff;
  font-size: 1.25em;
  color: #000;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}

.resetButton:active {
  transform: scale(0.98);
}